<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div id="title">
	<div id="Player1" class="Players"></div>	
	<div id="tictac" class="Players"></div>		
	<div id="Player2" class="Players"></div>	
	</div>
<div id="game">
		<div id="gameboard">
			<div *ngFor="let tile of gs.tiles" (click)="onClick(tile)" class="Square" id="Square3" value=2>
				<div></div>
			</div>
</div>	
</div>
<div id="tictac1">
<div id="toe">
<div id="Play"></div>
</div>
</div>


</body>
</html>


<!-- <div class="game board">
	<md-grid-list class="board" cols="3">

	</md-grid-list>
</div> -->

<!-- <div id="gameboard">
	<div class="Square" id="Square1" value=0
	[tile]="tiles[0]"	
	(click)="onclick()">

		 <img src="" alt="" [src]="getTileSrc()">
	</div>
	<div class="Square" id="Square2" value=1>
	</div>>
	<div class="Square" id="Square3" value=2></div>
	<div class="Square" id="Square4" value=3></div>
	<div class="Square" id="Square5" value=4></div>
	<div class="Square" id="Square6" value=5></div>
	<div class="Square" id="Square7" value=6></div>
	<div class="Square" id="Square8" value=7></div>
	<div class="Square" id="Square9" value=8></div> -->