<html>

<body>

<p id="title">
    tictac works!
  </p>

  <!-- <table style="width:50%">
    <tr>
      <th>Firstname</th>
      <th>Lastname</th> 
      <th>Age</th>
    </tr>
    <tr>
      <td>Jill</td>
      <td>Smith</td> 
      <td>50</td>
    </tr>
    <tr>
      <td>Eve</td>
      <td>Jackson</td> 
      <td>94</td>
    </tr>
  </table> -->

<div id="game">
			<div id="gameboard">
			<div class="Square" id="Square1" value=0></div>
			<div class="Square" id="Square2" value=1></div>
			<div class="Square" id="Square3" value=2></div>
			<div class="Square" id="Square4" value=3></div>
			<div class="Square" id="Square5" value=4></div>
			<div class="Square" id="Square6" value=5></div>
			<div class="Square" id="Square7" value=6></div>
			<div class="Square" id="Square8" value=7></div>
			<div class="Square" id="Square9" value=8></div>
			
</div>	
<div class="bg">

      
    <!-- <img src="assets/img/background.jpg"> -->
  
  </div>
</div>

</body>
</html>